<div class="well">
  <form name="playlistForm" class="form-horizontal" ng-submit="submit()">
    <fieldset>
      <legend>New Playlist</legend>
      <div class="form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
          <input class="form-control" name="playlistTitle" type="text" ng-model="playlist.name" ng-maxlength="16" required>
          <div ng-messages="playlistForm.playlistTitle.$error" role="alert">
            <div ng-message="required" ng-show="playlistForm.$dirty">Please enter a value for this field.</div>
            <div ng-message="maxlength">This field can be at most 16 characters long, nerd!</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <button type="submit" class="btn btn-success" ng-disabled="playlistForm.$invalid">Create Playlist</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<!-- <div>
  <h1>New Playlist</h1>
  <form name="playlistForm" ng-submit="submit()">

    <p>Title</p>
    <input type="text" ng-model="playlistTitle" required>
    <button type="submit">Create Playlist</button>
  </form>
</div>
 -->
